{% extends "layouts/base.html" %}

{% block title %}<title>Pokedex</title>{% endblock %}
{% block not_common_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>404 Not Found</h1>
                    <h4>Página no encontrada</h4>
                    <div class="error-details">
                        Disculpe las molestias, pero la página a la que ha accedido no se ha encontrado o no existe.
                    </div>
                    <div class="error-actions">
                        <a href="{{ url_for('pokedex_home') }}" class="btn btn-dark"><span class="fa fa-home"></span> Ir a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
