<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pokedex</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon_types.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-2 d-flex align-items-center">
                        <div class="container">
                            <img src="{{ url_for('static', filename='img/pokedex_image.png') }}" class="img-fluid" style="padding-top: 12px;" alt="Imagen no encontrada">
                        </div>
                    </div>
                    <div class="col-lg-auto d-flex align-items-center">
                        <div class="container">
                            <h1 class="text-center main-title">POKEDEX</h1>
                        </div>
                    </div>
                </div>                
                <hr>
                <div class="row">
                    {% for pokemon in pokemon_list %}
                        {% if pokemon is not none %}   
                            <div class="col-lg-3 mb-3 d-flex align-items-stretch gy-5">
                                <div id="{{ pokemon.name|lower }}" class="card">
                                    <a href="/pokemon/{{ pokemon.id }}"><img src="{{ url_for('static', filename='pokemon/images/normal/' + pokemon.id + '.png') }}" class="card-img-top" style="background-color: {{ pokemon.types[0][2] }};" alt="Imagen no encontrada"></a>
                                    <div class="card-body">
                                        <h6 class="card-subtitle text-body-secondary">{{ pokemon.id }}</h6>
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="card-title">{{ pokemon.name }}</h4> 
                                            </div>
                                            <div class="col-auto">
                                                <a class="btn btn-dark btn-sm" href="/pokemon/{{ pokemon.id }}"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                        {% if pokemon.types|length == 2 %}
                                        <div class="d-flex justify-content-start gap-4">
                                        {% else %} 
                                        <div class="d-flex justify-content-start">
                                        {% endif %}
                                            {% for type in pokemon.types %}
                                                <p class="type-icon type-{{ type[0] }}">{{ type[1] }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
        <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pokemon_list.js') }}"></script>
    </body>
    
</html>
