p.type {
    font-size: 13px;
    font-family: sans-serif;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 4px 16px;
    margin-bottom: 1px;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}

p.type-sm {
    font-size: 11px;
}

p.type-normal {
    background-color: #c7c2b8;
    border-color: #6d6d4e;
}

p.type-fire, .type-fuego  {
    background-color: #e9682e;
    border-color: #9c531f;
}

p.type-water, .type-agua {
    background-color: #3395f5;
    border-color: #445e9c;
}

p.type-electric, .type-eléctrico {
    background-color: #f8d030;
    border-color: #a1871f;
}

p.type-grass, .type-planta {
    background-color: #78c850;
    border-color: #4e8234;
}

p.type-ice, .type-hielo {
    background-color: #98d8d8;
    border-color: #638d8d;
}

p.type-fighting, .type-lucha {
    background-color: #bb5544;
    border-color: #7d1f1a;
}

p.type-poison, .type-veneno {
    background-color: #ba51ba;
    border-color: #682a68;
}

p.type-ground, .type-tierra {
    background-color: #d2b359;
    border-color: #927d44;
}

p.type-flying, .type-volador {
    background-color: #c0aff4;
    border-color: #6d5e9c;
}

p.type-psychic, .type-psíquico {
    background-color: #f85888;
    border-color: #a13959;
}

p.type-bug, .type-bicho {
    background-color: #a8b820;
    border-color: #6d7815;
}

p.type-rock, .type-roca {
    background-color: #b8a038;
    border-color: #786824;
}

p.type-ghost, .type-fantasma {
    background-color: #856eab;
    border-color: #493963;
}

p.type-dragon, .type-dragón {
    background-color: #9870fa;
    border-color: #4924a1;
}

p.type-dark, .type-siniestro {
    background-color: #8e6f5b;
    border-color: #49392f;
}

p.type-steel, .type-acero {
    background-color: #b8b8d0;
    border-color: #787887;
}

p.type-fairy, .type-hada {
    background-color: #f2b0f4;
    border-color: #9b6470;
}

p.multiplier {
    font-size: 13px;
    font-family: sans-serif;
    color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0px;
    font-weight: 600;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}

p.multiplier-2 {
    background-color: #62b43a;
    border-color: #313030;
}

p.multiplier-0-5 {
    background-color: #e69611;
    border-color: #313030;
}

p.multiplier-0 {
    background-color: #000;
    border-color: #313030;
}