html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.main-title {
    font-family: Tahoma, 'sans-serif';
    font-weight: bold;
    font-size: 425%;
    padding-top: 12px;
    color: #ffcc00;
    text-shadow:
        -2px -2px 0 #2775bb,
        2px -2px 0 #2775bb,
        -2px 2px 0 #2775bb,
        2px 2px 0 #2775bb;
    text-shadow: #2775bb 0px 0px 5px, #2775bb 0px 0px 5px, #2775bb 0px 0px 5px, #2775bb 0px 0px 5px, #2775bb 0px 0px 5px, #2775bb 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.main-title-image {
    width: 100px; 
    display: inline-block; 
    padding-top: 12px; 
    margin-right: 10px;
}

.pokemon-detail-link:hover {
    color: blue;
}

.card-title {
   padding-bottom: 7px;
}

.card-subtitle.text-body-secondary {
    padding-left: 1px;
}

.btn-dark {
    background-color: #484848;
}

.btn-dark:hover, .btn-dark:focus {
    color: #ffc107;
}

.pokemon-name {
    text-transform: uppercase;
}

.listing {
    display: flex;
}

.load-button-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress {
    margin-top: 4px;
}

.table > :not(caption) {
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
}

#stats-table > tbody > tr > td.col-2.text-end {
    padding-right: 20px;
}

.borderless-cell {  
    border-top: 1px solid Transparent !important;
    border-left: 1px solid Transparent !important;
} 

.p-no-bottom-margin {
    margin-bottom: 0;
}

.tooltip .tooltip-inner {
    text-align: left;
}

.evolution-chain-id {
    font-size: 13px;
    
}

.evolution-chain-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.evolution-chain-img {
    width: 175px;
    border-radius: 25%;
    border: 4px solid #555;
    margin: auto;
}

.no-text-decoration {
    color: inherit;
    text-decoration: inherit;
}

.yellow-text:hover {
    color: #ffc107 !important;
}

.page-link {
    width: 39px;
    color: black;
}

.page-link:disabled {
    background-color: #d3d3d3;
}


