p.type {
    font-size: 13px;
    font-family: sans-serif;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 4px 16px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}

p.type-sm {
    font-size: 11px;
}

p.type-normal {
    background-color: #c7c2b8;
    border-color: #6d6d4e;
}

p.type-fire {
    background-color: #f08030;
    border-color: #9c531f;
}

p.type-water {
    background-color: #3395f5;
    border-color: #445e9c;
}

p.type-electric {
    background-color: #f8d030;
    border-color: #a1871f;
}

p.type-grass {
    background-color: #78c850;
    border-color: #4e8234;
}

p.type-ice {
    background-color: #98d8d8;
    border-color: #638d8d;
}

p.type-fighting {
    background-color: #d6443b;
    border-color: #7d1f1a;
}

p.type-poison {
    background-color: #ba51ba;
    border-color: #682a68;
}

p.type-ground {
    background-color: #d2b359;
    border-color: #927d44;
}

p.type-flying {
    background-color: #c0aff4;
    border-color: #6d5e9c;
}

p.type-psychic {
    background-color: #f85888;
    border-color: #a13959;
}

p.type-bug {
    background-color: #a8b820;
    border-color: #6d7815;
}

p.type-rock {
    background-color: #b8a038;
    border-color: #786824;
}

p.type-ghost {
    background-color: #856eab;
    border-color: #493963;
}

p.type-dragon {
    background-color: #9870fa;
    border-color: #4924a1;
}

p.type-dark {
    background-color: #705848;
    border-color: #49392f;
}

p.type-steel {
    background-color: #b8b8d0;
    border-color: #787887;
}

p.type-fairy {
    background-color: #f2b0f4;
    border-color: #9b6470;
}