{% extends "layouts/base.html" %}

{% block title %}<title>Pokedex - {{ pokemon_info.name }}</title>{% endblock %}
{% block not_common_links %}
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('custom_static', filename='css/pokemon_types.css') }}">
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 gy-5">
                <div class="card">
                    <img src="{{ url_for('custom_static', filename='pokemon/images/normal/' + pokemon_info.id + '.png') }}" id="pokemon-image" class="card-img-top" style="background-color: {{ pokemon_info.types[0][2] }};" alt="Imagen no encontrada">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {% if pokemon_info.id|int > 1 %}
                                    <a href="/pokemon/{{ pokemon_info.id|int - 1 }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-arrow-left"></i></button></a>
                                {% endif %}
                                {% if (pokemon_info.id|int) < pokemon_info.total_pokemon_count %}
                                    <a href="/pokemon/{{ pokemon_info.id|int + 1 }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-arrow-right"></i></button></a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <button type="button" id="toggle-pokemon-image-button" class="btn btn-dark btn-sm"><i class="fa fa-star"></i></button>
                                <a href="{{ url_for('pokedex_home') }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-home"></i></i></button></a>
                            </div>
                        </div>
                        <hr>
                        <h6 class="card-subtitle text-body-secondary">{{ pokemon_info.id }}</h6>
                        <div class="row">
                            <div class="col">
                                <span class="card-title"><h3><strong class="pokemon-name">{{ pokemon_info.name }}</strong></h3></span>
                            </div>
                            <div class="col-auto">
                                {% for type in pokemon_info.types %}
                                    <p class="type type-{{ type[0] }} type-sm">{{ type[1] }}</p>
                                {% endfor %}
                            </div>            
                        </div>
                        <p>{{ pokemon_info.desc }}</p>
                        <table class="table table-bordered table-responsive">
                            <tbody>
                                {% for value in pokemon_info.attributes.values() %}
                                    <tr>
                                        <th class="align-middle">{{ value[2] }}</th>
                                        <td class="align-middle">{{ value[0] }} {{ value[1] }}</td>
                                    </tr>
                                {% endfor %}
                                
                                <tr>
                                    <th class="align-middle col-4">HABILIDADES</th>
                                    <td class="align-middle">
                                        {% for ability in pokemon_info.abilities %}
                                            <p class="p-no-bottom-margin">{{ ability[0] }} {{ ability[2] }} <i class="fa fa-question-circle" style="font-size: 15px;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ ability[1] }}"></i></p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4><b>Grito</b>&nbsp;&nbsp;<i class="fa fa-volume-up" aria-hidden="true"></i></h4>
                        <audio controls id="pokemon-cry" class="w-100">
                            <source src="{{ url_for('custom_static', filename='pokemon/cries/mp3/' + pokemon_info.id + '.mp3') }}" type="audio/mpeg">
                            Su navegador no es compatible con el formato del audio.
                        </audio>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 gy-5">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title"><h4><strong>ESTADÍSTICAS BASE</strong></h4></span>
                        <hr>
                        <table id="stats-table" class="table table-responsive">
                            <tbody>
                                {% for stat_name, stat_value in pokemon_info.stats.items() %}
                                    {% if stat_name != 'Total' %}
                                        <tr>
                                            <th scope="row" class="col text-end">{{ stat_name }}</th>
                                            <td class="col-2 text-end">{{ stat_value }}</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: {{ ((stat_value / 255) * 100)|int }}%" aria-valuenow="{{ stat_value }}" aria-valuemin="1" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <th scope="row" class="col-1 text-end">{{ stat_name }}</th>
                                            <td class="col-2 text-end">{{ stat_value }}</td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="card-title"><h4><strong>SPRITES</strong></h4></span>
                            </div>
                            <div class="col-auto">
                                <button type="button" id="toggle-pokemon-sprites-button" class="btn btn-dark btn-sm"><i class="fa fa-star"></i></button>
                                <button type="button" id="rotate-pokemon-sprites-button" class="btn btn-dark btn-sm"><i class="fa fa-repeat"></i></button>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th class="borderless-cell"></th>
                                    <th class="align-middle text-center">Macho</th>
                                    <th class="align-middle text-center">Hembra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="align-middle text-center">Normal</th>
                                    <td class="align-middle text-center">
                                        <img id="normal-sprite-male" class="pokemon-sprite" src="{{ url_for('custom_static', filename='pokemon/sprites/no_animated/normal/front/male/' + pokemon_info.id + '.png') }}" alt="N/A">
                                    </td>
                                    <td class="align-middle text-center">
                                        <img id="normal-sprite-female" class="pokemon-sprite" src="{{ url_for('custom_static', filename='pokemon/sprites/no_animated/normal/front/female/' + pokemon_info.id + '.png') }}" alt="N/A">
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-middle col-3 text-center">Animado</th>
                                    <td class="align-middle text-center">
                                        <img id="animated-sprite-male" class="pokemon-sprite" src="{{ url_for('custom_static', filename='pokemon/sprites/animated/normal/front/male/' + pokemon_info.id + '.gif') }}" alt="N/A">
                                    </td>
                                    <td class="align-middle text-center">
                                        <img id="animated-sprite-female" class="pokemon-sprite" src="{{ url_for('custom_static', filename='pokemon/sprites/animated/normal/front/female/' + pokemon_info.id + '.gif') }}" alt="N/A">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="card-title"><h4><strong>DEBILIDADES</strong></h4></span>
                            </div>
                            <div class="col-auto">
                                <a href="{{ url_for('types_chart') }}" target="_blank"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-table"></i></button></a>
                            </div>
                        </div>
                        <hr>
                        <ul class="list-unstyled list-inline">
                            {% for weakness in pokemon_info.weaknesses %}
                                <li class="list-inline-item">
                                    <p class="type type-{{ weakness[0] }} mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Daño {{ weakness[2] }}">
                                        {{ weakness[1] }} 
                                        {% if weakness[2] == "x 4" %}
                                            <i class="fa fa-exclamation-circle"></i>
                                        {% endif %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col">
                                <span class="card-title"><h4><strong>CADENA EVOLUTIVA</strong></h4></span>
                            </div>
                            <div class="col-auto">
                                <button type="button" id="toggle-pokemon-evolution-chain-images-button" class="btn btn-dark btn-sm"><i class="fa fa-star"></i></button>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card text-center mb-2 border-0">
                                    <img src="{{ url_for('custom_static', filename='pokemon/images/normal/' + pokemon_info.evolution_chain.id + '.png') }}" class="card-img-top evolution-chain-img" style="background-color: {{ pokemon_info.evolution_chain.types[0][2] }};" alt="Imagen no encontrada">
                                    <div class="card-body">
                                        <p class="card-subtitle evolution-chain-id">{{ pokemon_info.evolution_chain.id }}</p>
                                        <a href="/pokemon/{{ pokemon_info.evolution_chain.id|int }}"><p class="evolution-chain-name">{{ pokemon_info.evolution_chain.name }}</p></a>
                                        {% for type in pokemon_info.evolution_chain.types %}
                                            <p class="type type-{{ type[0] }} type-sm evolution-chain-type">{{ type[1] }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            {% if pokemon_info.evolution_chain.evolves_to %}
                                <div class="text-center"><i class="fa fa-long-arrow-down fa-2x mb-4"></i></div>
                            {% endif %}

                            {% for evolution_1 in pokemon_info.evolution_chain.evolves_to  %}
                                <div class="col">
                                    <div class="row justify-content-center">
                                        <div class="card text-center mb-2 border-0">
                                            <!-- Button trigger modal -->
                                             <span>
                                                <a class="btn p-0 text-dark yellow-text" data-bs-toggle="modal" data-bs-target="#evolution1InfoModal{{ loop.index }}">
                                                    <i class="fa fa-info-circle" style="font-size: 30px;"></i>
                                                </a>
                                            </span>
                                            <!-- Modal -->
                                            <div class="modal fade" id="evolution1InfoModal{{ loop.index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel1{{ loop.index }}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel1{{ loop.index }}">{{ pokemon_info.evolution_chain.name }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ evolution_1.name }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% for evolve_method in evolution_1.evolution_details %}
                                                                {% if evolve_method.Desencadenante %}
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th colspan="2">Método {{ loop.index }}</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody> 
                                                                                {% for key, value in evolve_method.items() %}
                                                                                    <tr>
                                                                                        {% if value.id %}
                                                                                            <th class="align-middle text-center col-1">{{ key }}</th>
                                                                                            <td class="align-middle text-center">
                                                                                                <img src="{{ url_for('custom_static', filename='objects/sprites/' + value.id|string + '.png') }}" alt="Imagen no encontrada">{{ value.name }}
                                                                                            </td>
                                                                                        {% else %}
                                                                                            <th class="align-middle text-center col-1">{{ key }}</th>
                                                                                            {% if value in pokemon_types_names %}
                                                                                                <td class="align-middle text-center"><p class="type type-{{ value|lower }} type-sm">{{ value }}</p></td>
                                                                                            {% else %}
                                                                                                <td class="align-middle text-center">{{ value }}</td>
                                                                                            {% endif %}  
                                                                                        {% endif %}  
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                {% else %}
                                                                    <p>Información de evolución no disponible.</p>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="{{ url_for('custom_static', filename='pokemon/images/normal/' + evolution_1.id + '.png') }}" class="card-img-top evolution-chain-img" style="background-color: {{ evolution_1.types[0][2] }};" alt="Imagen no encontrada">
                                            <div class="card-body">
                                                <p class="card-subtitle evolution-chain-id">{{ evolution_1.id }}</p>
                                                <a href="/pokemon/{{ evolution_1.id|int }}"><p class="evolution-chain-name">{{ evolution_1.name }}</p></a>
                                                {% for type in evolution_1.types %}
                                                    <p class="type type-{{ type[0] }} type-sm evolution-chain-type">{{ type[1] }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        {% if evolution_1.evolves_to %}
                                            <div class="text-center"><i class="fa fa-long-arrow-down fa-2x mb-4"></i></div>
                                        {% endif %}
                                        {% for evolution_2 in evolution_1.evolves_to %}
                                            <div class="col">
                                                <div class="card text-center border-0">
                                                    <!-- Button trigger modal -->
                                                    <span>
                                                        <a class="btn p-0 text-dark yellow-text" data-bs-toggle="modal" data-bs-target="#evolutionInfoModal2{{ loop.index }}">
                                                            <i class="fa fa-info-circle" style="font-size: 30px;"></i>
                                                        </a>
                                                    </span>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="evolutionInfoModal2{{ loop.index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel2{{ loop.index }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel2{{ loop.index }}">{{ evolution_1.name }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ evolution_2.name }}</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    {% for evolve_method in evolution_2.evolution_details %}
                                                                        {% if evolve_method.Desencadenante %}
                                                                            <div class="table-responsive">
                                                                                <table class="table table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th colspan="2">Método {{ loop.index }}</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody> 
                                                                                        {% for key, value in evolve_method.items() %}
                                                                                            <tr>
                                                                                                {# Enters here if 'value' variable is a dictionary. Otherwise, 'value' variable contains a single value #}
                                                                                                {% if value.id %}
                                                                                                    <th class="align-middle text-center col-1">{{ key }}</th>
                                                                                                    <td class="align-middle text-center">
                                                                                                        <img src="{{ url_for('custom_static', filename='objects/sprites/' + value.id|string + '.png') }}" alt="Imagen no encontrada">{{ value.name }}
                                                                                                    </td>
                                                                                                {% else %}
                                                                                                    <th class="align-middle text-center col-1">{{ key }}</th>
                                                                                                    {% if value in pokemon_types_names %}
                                                                                                        <td class="align-middle text-center"><p class="type type-{{ value|lower }} type-sm">{{ value }}</p></td>
                                                                                                    {% else %}
                                                                                                        <td class="align-middle text-center">{{ value }}</td>
                                                                                                    {% endif %}  
                                                                                                {% endif %}  
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        {% else %}
                                                                            <p>Información de evolución no disponible.</p>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="{{ url_for('custom_static', filename='pokemon/images/normal/' + evolution_2.id + '.png') }}" class="card-img-top evolution-chain-img" style="background-color: {{ evolution_2.types[0][2] }};" alt="Imagen no encontrada">
                                                    <div class="card-body">
                                                        <p class="card-subtitle evolution-chain-id">{{ evolution_2.id }}</p>
                                                        <a href="/pokemon/{{ evolution_2.id|int }}"><p class="evolution-chain-name">{{ evolution_2.name }}</p></a>
                                                        {% for type in evolution_2.types %}
                                                            <p class="type type-{{ type[0] }} type-sm evolution-chain-type">{{ type[1] }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block not_common_scripts %}
    <script src="{{ url_for('custom_static', filename='js/pokemon_detail.js') }}"></script>
{% endblock %}
